<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- + mobile friendliness!-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css styling to make it look nice! -->
    <link href="/css/j1A.css" type="text/css" rel="stylesheet">
    <link href="/css/animate.min.css" type="text/css" rel="stylesheet">

    <!-- bootstrap to make my life easier -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- our javascript code goes here! -->
    <script src="/static/js/jquery-3.3.1.js"></script>
    <script src="/static/js/j1A.js"></script>


</head>

<body>
    <title>
        interview me!
    </title>
<div>
	<!-- layout -->
	<center>
		<div class="box">

		<h1 class="header animated swing"> Japanese 1A Interview Practice Questions </h1>
        <div class="bg">
            <div class="question"></div>
        </div>
        <button class="button">　質問がありますか？ </button>
        <br>
        <span class="eng"> Do you have any questions? </span>
        <br>
        <br>
        <br>
        <div class="note">Made by <a href="">Joyce!</a> <br> Got feedback? Suggestions? <br> Send me an email!</span>

		</div>
	</center>
</div>
</body>